<div class="container" style="height: 100%;">
  <div class="row" style="height: 10%;">
    <!-- spacing row -->
  </div>
  <div class="row" style="height: 30%; text-align: center;">
    <h1>{{name}}</h1>
    <p>({{coord.lon}}, {{coord.lat}})</p>
    <h4>{{main.temp}}℃</h4>
  </div>
  <div class="row" style="height: 10%;">
    <div class="col-md-4">
      <!-- spacing column -->
    </div>
    <div class="col-md-4" style="text-align: center;">
      <h3>Select a city</h3>
      <form method="post" action="/">
        <select name="cityname">
          <option value="New York">New York</option>
          <option value="London">London</option>
          <option value="Tokyo">Tokyo</option>
        </select>
        <p style="padding-top: 8px;"><button type="submit">Actuate</button></p>
      </form>
    </div>
    <div class="col-md-4">
      <!-- spacing column -->
    </div>
  </div>
  <div class="row" style="height: 40%;">
    <!-- spacing row -->
  </div>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>